.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: var(--grey);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid var(--white);
}

.logo {
  height: 30px;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  position: relative;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;

  &:hover {
    color: var(--white);
    background-color: #3e3e3e;
  }

  &.active {
    color: var(--white);
    background-color: #3e3e3e;
  }
}

.cart-icon {
  margin-left: 4px;
}

.cart-count {
  position: absolute;
  top: 8px;
  font-weight: 600;
  right: 0;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  padding: 2px 6px;
  border-radius: 50%;

}

.account {
  position: relative;

  & .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.info {
  position: absolute;
  width: 200px;
  max-height: 400px;
  top: 36px;
  right: 12px;
  background-color: var(--text-color);
  border-radius: 8px;
  padding: 8px 0;
  font-size: 1.6rem;
  font-weight: 600;
  display: none;

  &.active {
    display: block;
  }

  & .info-item {
    cursor: pointer;
    padding: 8px;
    color: var(--white);
    display: flex;

    &:hover {
      color: var(--blue);
      background-color: #3e3e3e;
    }
  }
}