.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
  overflow: hidden;
  position: relative;

}

.box-container {
  display: flex;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
  transition: transform 0.5s;
  scroll-behavior: smooth;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  z-index: 1;
  cursor: pointer;
  color: #ffffffa4;

  &:hover {
    color: #ffffff;
  }
}

.icon-left {
  left: 1rem;
}

.icon-right {
  right: 1rem;
}

.box {
  +.box {
    margin-left: 20px;
  }
}

.cart-item {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 448px;
  background-color: #2e2e2e;
  border-radius: 8px;
  color: #c9c9c9;
  overflow: hidden;

}



.info {

  color: var(--white);
  padding: 32px;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.description {
  font-size: 1.6rem;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
  text-shadow: 0 0 2px #b3b3b3;
}

.button {
  width: 120px;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}